// @use './theme' as *;
// @import url('https://fonts.itedev.com/NotoSerifSC/index.css');
@import url('https://fonts.itedev.com/JetBrainsMono/index.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Noto Serif", serif;
}

// :root::selection {
//   color: var(--color-highlight);
//   background-color: var(--color-highlight-bg);
// }

/* 页面 */
body {
  background-color: #FFFCF0;
  color: #655a49;
  transition: all 0.2s ease-in-out;
}

/* 页面标题 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #393022 ;
}

ins {
  font-style: italic;
  text-decoration: none;
}

/* 链接 */
a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  .iconify {
  }
}

input,select {
  border: none;
  border-bottom: 1px solid #655a49;
  background-color: transparent;
}

input:is(:-webkit-autofill, :autofill) {
  background-color: transparent !important;
}


input[type="submit"],
input[type="button"],
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-link);
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  color: #393022;
}

textarea {
  border: 1px solid #655a49;
  background-color: transparent;
  border-radius: 2rem;
  padding: .5rem;
}

// option:disabled {
//   color: var(--color-button-text);
// }
// option:checked {
//   color: var(--color-button-hover);
// }

/* 自定义滚动条 */
// ::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
// }

// ::-webkit-scrollbar-track {
//   background: var(--color-background);
// }

// ::-webkit-scrollbar-thumb {
//   background: var(--color-text);
//   border-radius: 4px;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: var(--color-link);
// }

svg:where(.iconify) {
  display: inline-block;
  flex-shrink: 0;
  font-size: 2em;
  vertical-align: sub;
  color: var(--color-icon);
}

.mono {
    font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
}
